body {
  background-color: #DAE4EE;
  font-family: "Trebuchet MS", serif;
  padding: 20px;
  box-sizing: border-box;
}

.breakfast-description {
    color: #26568E;
  }

.macros-text {
    font-size: 18px;
    color: #243646;
  }

.main-heading {
  background-color: #26568E;
  text-align: center;
  padding: 20px;
  color: white;
}

.main-description {
  background-color: #000000;
  text-align: center;
  padding: 20px;
  color: white;
}

.further-explanation {
  background-color: #243646;
  text-align: center;
  padding: 20px;
  color: white;
}

.main-nav {
  overflow: hidden;
  background-color: #333;
  color: white;
}

.main-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.main-nav a:hover {
  background-color: #ddd;
  color: black;
}

.requests-section {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
